*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: 400;
}

.profile-container {
    background-color: hsl(0, 0%, 12%);
    padding: 1.1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.profile-image {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-name {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.profile-bio, .location {
    font-size: 14px;
    margin-bottom: 1.25rem;
}

.location {
    color: hsl(75, 94%, 57%);
}

.profile-bio{
    color: #fff;
    padding: 10px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
}

.social-links a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-links a:hover, .social-links a:focus-visible {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.social-links a:focus-visible {
    outline: 2px solid hsl(75, 94%, 57%);
    outline-offset: 3px;
}